@{
    Layout = "/Views/Shared/Dashboard_Layout.cshtml";
}
@model Icecream.Models.Recipe

@{
    ViewData["Title"] = "recipe_edit";
}

<h1 class="text-center">Edit Recipe</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Recipe Name:</label>
                    <input asp-for="Name" class="form-control" pattern="[A-Za-z ]+" title="Only characters are allowed" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Recipe Description:</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status:</label>

                    <div class="form-check">
                        <input asp-for="Status" class="form-check-input" type="radio" id="statusFree" value="Free" checked />
                        <label class="form-check-label" for="statusFree">Free</label>
                    </div>

                    <div class="form-check">
                        <input asp-for="Status" class="form-check-input" type="radio" id="statusPro" value="Pro" />
                        <label class="form-check-label" for="statusPro">Pro</label>
                    </div>

                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-8">
                        <label asp-for="Image">Recipe Image:</label>
                        <input type="file" asp-for="Image" class="form-control" id="ChooseImg" />
                    </div>
                    <div class="col-4">
                        <img src="https://placehold.jp/150*150.png" style="height:200px;width:200px;border:1px solid black;border-radius:10px;padding:10px" alt="photo" id="PrevImg" />
                    </div>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Edit Recipe" class="btn btn-primary" />
                </div>

                <div class="form-group mt-4">
                    <a asp-action="recipe_index" class="btn btn-secondary">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ChooseImg').change(function (e) {
                var url = $('#ChooseImg').val();
                var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
                if (ChooseImg.files && ChooseImg.files[0] && (ext == "gif" || ext == "jpg" || ext == "jfif" || ext == "png" || ext == "bmp")) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        var output = document.getElementById('PrevImg');
                        output.src = reader.result;
                    }
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
        });
    </script>
}
