@{
    Layout = "~/Views/Shared/Website_Layout.cshtml";
}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">About</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">About</p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Traditional & Delicious Ice Cream Since 1950</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">About Us</h4>
                <h5 class="text-muted mb-3">Established in 1950 by Mr. A, our timeless ice cream shop crafts delectable treats with passion and tradition.</h5>
                <p>Immerse yourself in the exquisite flavors of our handcrafted delights. Indulge in the perfect blend of tradition and innovation, as each scoop takes you on a journey of sublime satisfaction. Taste the artistry; experience the essence.</p>
                <a href="" class="btn btn-secondary mt-2" data-toggle="modal" data-target="#staticBackdrop1">Learn More</a>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/Website/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <p>Discover a haven of indulgence at our shop. Immerse yourself in a sanctuary of flavor, where meticulous craftsmanship meets culinary artistry. Savor the essence of distinction with our curated selection and unparalleled service.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>No comprise on Quality</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>100% customer satisfaction</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Unique flavours</h5>
                <a href="" class="btn btn-primary mt-2" data-toggle="modal" data-target="#staticBackdrop2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Experienced & Most Famous Ice Cream Chefs</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/Website/img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Alain Ducasse</h3>
                            <h6 class="text-uppercase text-muted mb-4">Founder of Mr'A'</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/Website/img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Sara Andrew</h3>
                            <h6 class="text-uppercase text-muted mb-4">CEO Chef</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/Website/img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Paul Heyman</h3>
                            <h6 class="text-uppercase text-muted mb-4">Administration Head</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/Website/img/team-4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Anthony mathews</h3>
                            <h6 class="text-uppercase text-muted mb-4">Expert Chef</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


@* Modals Start*@
<!-- Modal 1-->
<div class="modal fade" id="staticBackdrop1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">About Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        In the quaint town of California, nestled between rolling hills and picturesque landscapes, the sweet legacy of our timeless ice cream shop began in 1950. It was in this charming setting that a young and ambitious entrepreneur, Mr. A, embarked on a journey that would transform his passion for ice cream into a cherished tradition for generations to come.

                        Born into a family with a deep appreciation for culinary arts, Mr. A discovered his love for crafting delectable treats at an early age. At the tender age of 14, armed with determination and a dream, he opened the doors of his modest ice cream shop. His vision was simple yet profound – to share the joy of exquisite flavors with the community and create a space where people could indulge in the timeless pleasure of ice cream.

                        In those early days, Mr. A personally concocted each batch of ice cream, meticulously selecting the finest ingredients and infusing his creations with a genuine passion for the craft. The shop quickly became a local hotspot, drawing in residents from far and wide who were eager to experience the unique blend of tradition and innovation that defined Mr. A's creations.

                        As the years unfolded, so did the success of the ice cream shop. Mr. A's commitment to quality and innovation resonated with patrons, and the shop became a beloved institution in the community. His relentless pursuit of perfection led to the development of signature flavors that became synonymous with the establishment, captivating the taste buds of ice cream enthusiasts.

                        Over the decades, the once modest ice cream shop expanded, transforming into a destination that attracted visitors from neighboring towns and beyond. Mr. A's commitment to preserving the essence of his craft remained unwavering, ensuring that every scoop continued to carry the spirit of his original vision.

                        Today, as our ice cream shop stands as a testament to Mr. A's dedication and entrepreneurial spirit, we invite you to immerse yourself in the rich history and flavors that have defined us for over seven decades. Each scoop is not just a taste of ice cream; it is a journey through time, a celebration of tradition, and an experience of unparalleled satisfaction – a legacy that began with a 14-year-old dreamer in 1950 and has since grown into an enduring symbol of sweetness and joy.
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="~/Website/img/mra.jpg" width="inherit" height="350px"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Our Features</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        1. Timeless Expertise:
                        With over 75 years of unwavering dedication to crafting exceptional ice cream, our experience is not just measured in years but in the countless smiles and moments of pure delight shared with our cherished customers. Every scoop is a testament to the artistry that comes with decades of perfecting the ice cream-making craft.

                        2. Unparalleled Taste:
                        Our commitment to delivering a truly delectable experience is embedded in every mouthwatering bite. The journey of taste begins with the finest ingredients meticulously curated to create flavors that transcend the ordinary. Prepare your taste buds for an exquisite symphony of flavors, carefully crafted to delight and captivate.

                        3. Quality Over Compromise:
                        At our ice cream shop, we understand that true satisfaction lies in the uncompromising commitment to quality. From the sourcing of ingredients to the final presentation, we adhere to the highest standards, ensuring that each scoop reflects our dedication to excellence. We believe that quality is not just a choice; it's a promise.

                        4. Generous Portions, Generous Hearts:
                        We believe in abundance, not just in terms of quantity but in the warmth of our hospitality. Our generous portions are a reflection of the love and passion we put into every creation. Because for us, it's not just about serving ice cream; it's about creating moments of joy and becoming an integral part of your celebrations.

                        5. Beyond Profit, Into Hearts:
                        Money has never been our sole motivation. We are here to be more than just a business; we are here to be a cherished part of your life's sweetest moments. Our purpose extends beyond profit, reaching into the hearts of our customers. We aim to create an experience that goes beyond transactions, forging lasting connections through the shared love of our delectable creations.

                        6. Your Heart, Our Conquest:
                        Our journey is not complete until we have conquered your hearts. Every scoop is a labor of love, and every satisfied customer is a victory. Join us in this delightful conquest, where your satisfaction is not just a goal but the very essence of our existence.

                        At our ice cream shop, the fusion of 75+ years of expertise, irresistible taste, unwavering quality, and a genuine commitment to our customers creates an experience that transcends the ordinary. Come, savor the flavors, feel the warmth, and let us be the sweet companion in your life's most cherished moments.
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="~/Website/img/icecreamourfeatures.jpg" width="inherit" height="350px"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@* Modals End*@