@page
@{
    Layout = "~/Views/Shared/Website_Layout.cshtml";
}
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-12">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Name">Name</label>
                    <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="name@example.com" pattern="[A-Za-z]+" title="Only characters are allowed" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Cardnumber">Credit/Debit Card</label>
                    <input asp-for="Input.Cardnumber" class="form-control" aria-required="true" placeholder="enter your credit/debit card number" />
                    <span asp-validation-for="Input.Cardnumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Subscription" class="control-label">Subscription</label>

                    <div class="form-check">
                        <input asp-for="Input.Subscription" class="form-check-input" type="radio" id="MonthlySub" value="Monthly" checked />
                        <label class="form-check-label" for="Montlysub">Monthly $15</label>
                    </div>

                    <div class="form-check">
                        <input asp-for="Input.Subscription" class="form-check-input" type="radio" id="Yearlysub" value="Yearly" />
                        <label class="form-check-label" for="Yearlysub">Yearly $150</label>
                    </div>

                    <span asp-validation-for="Input.Subscription" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
